<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Book Blood Test
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    window.onload=function(){
      $("#table1 tbody tr").remove();
    }
  </script>
  <script>
      function f(){
        var form = $('#form1');
        var url = form.attr('action');
        //console.log($("#add1").text());
        var mydata=form.serializeArray();
        var mytime=mydata[1].value+","+mydata[0].value;
        //console.log(date);
        $.ajax({
          type: "POST",
          url: url,
          data: {pathology:$("#add1").text(),testType:$("#add2").text(),scheduledTime:mytime}, // serializes the form's elements.
          dataType : 'json',
          success: function(response)
          {
              alert("Test booked Successfully!,for more details contact the pathology!");
          },
            error: function(xhr) {
              console.log(xhr);
            }
        });
      //   $.ajax({
            
      //       url: "./addTest",
      //         type: "post", //send it through get method
      //         data: {pathology:pathology,testType:testType},
      //       dataType : 'json',
      //       //   complete: function(){
      //       //       console.log("here");
      //       //   },  
      //       success: function(response) {
      //           alert("Test booked Successfully!,for more details contact the pathology!");
      //       },
      //       error: function(xhr) {
      //         console.log(xhr);
      //       }
      // });
    }
  </script> 
  <script>
        function search(){
          $("#table1 tbody tr").remove();
          $.ajax({
            
            url: "./searchTest",
              type: "post", //send it through get method
              data: {pathology:document.getElementById("pathology_name").value,testType:document.getElementById("test_name").value},
            dataType : 'json',
            //   complete: function(){
            //       console.log("here");
            //   },  
              success: function(response) {
            //make table
                console.log("here");
                console.log(response);
                for(var i = 0; i <= response.length-1; i++)
                {
                    //console.log(response);
                    $('#table1').find('tbody').append('<tr><td> '+ (i+1).toString() + '</td><td>'+(response[i]).testType+'</td><td>'+(response[i]).pathology+'</td><td>'+(response[i]).price+'</td><td><a href="javascript:void(0)" style="color:red;" onclick="openForm1(\''+response[i].pathology+'\',\''+response[i].testType+'\',\''+response[i].price+'\')">Book Now</a></td></tr>');
                }
            },
              error: function(xhr) {
                console.log(xhr);
              }
        });         
        }
  </script>
  <!-- ARCHIT CHANGELOG BEGINS part1-->
  <style>

    * {box-sizing1: border-box;}
    
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button1 {
      cursor: pointer;
      opacity: 0.8;
    }
    
    /* The popup form - hidden by default */
    .form-popup1 {
      display: none;
      margin-left: 30%;
      margin-right: 30%;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    
    /* Full-width input fields */
    .form-container1 input[id="a1"], .form-container1 input[id="a2"] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something 
    .form-container1 input[id="a1"]:focus, .form-container1 input[id="a2"]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container1 .btn1 {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add some hover effects to buttons */
    .form-container1 .btn1:hover, .open-button1:hover {
      opacity: 1;
    }
    </style>
    <!-- ARCHIT CHANGELOG ENDS part2-->
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
          <a href="./dashboard" class="simple-text logo-normal">
            Blood Connect
          </a>
      </div>
      <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="./dashboard">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./user">
                <i class="material-icons">person</i>
                <p>My Profile</p>
              </a>
            </li>
            <li class="nav-item active  ">
              <a class="nav-link" href="./bloodtest">
                <i class="material-icons">content_paste</i>
                <p>Blood Test</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./donate">
                <i class="material-icons">favorite</i>
                <p>Donate Blood</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./request">
                <i class="material-icons">invert_colors</i>
                <p>Request Blood</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./activity">
                <i class="material-icons">schedule</i>
                <p>My Activity</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./contactus">
                <i class="material-icons">perm_phone_msg</i>
                <p>Contact Us</p>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand">Order Blood Test</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
              <form class="navbar-form">
              </form>
              <ul class="navbar-nav">
                
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                      Account
                    </p>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="./user">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./logout">Log out</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      <div class="content">
        <!-- <a href="./bloodtest" class="btn btn-danger">Search</a> -->
       
                
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Available Blood Tests</h4>
                  <p class="card-category"> Choose your Blood Test Plan from the table</p>
                </div>
                <div class="card-body text-center">
                      <!--     Imgrooooooooooot   many changes in form-->
                      <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                      <label for="exampleFormControlSelect1">Test select</label>
                      <select name="testName" class="form-control name" data-style="btn btn-link" id="test_name">
                        <option value="">--Select--</option>
                        <option value="Complete Blood Test (CBC)">Complete Blood Test (CBC)</option>
                        <option value="HbA1c">HbA1c</option>
                        <option value="Urine R/M">Urine R/M</option>
                        <option value="Lipid Profile">Lipid Profile</option>
                        <option value="TSH">TSH</option>
                        <option value="Liver Function Test">Liver Function Test</option>
                        <option value="Glucose Fasting Blood">Glucose Fasting Blood</option>
                      </select>
                            </div>
                          </div>
                          <div class="col-md-5">
                              <div class="form-group">
                        <label for="exampleFormControlSelect1">Pathology select</label>
                        <select name="pathology" class="form-control name" data-style="btn btn-link" id="pathology_name">
                          <option value="">--Select--</option>
                          <option value="Gian Wellness Diagnostics">Gian Wellness Diagnostics</option>
                          <option value="Dr. Lal Path Labs">Dr. Lal Path Labs</option>
                          <option value="United Pathology">United Pathology</option>
                          <option value="Heartland Pathology">Heartland Pathology</option>
                          <option value="Natural Health Pathology Center">Natural Health Pathology Center</option>
                          <option value="Madhav Pathology Lab">Madhav Pathology Lab</option>
                        </select>
                              </div>
                            </div>
                          <div class="col-md-2">
                              <div class="form-group">
                                  <button onclick="search()" class="btn btn-danger pull-right">Search</button>   
                              </div>
                            </div>
                    </div>
                      <div class="clearfix"></div>
                    
                  <div class="table-responsive">
                    <table id="table1" class="table">
                      <thead class=" text-primary">
                        <th>
                          S. No.
                        </th>
                        <th>
                          Blood Test
                        </th>
                        <th>
                          Pathology
                        </th>
                        <th>
                          Price
                        </th>
                        <th>
                          <!-- ARCHIT CHANGELOG BEGIN part2a-->
                            <div>Action
                            </div>
                          <!-- ARCHIT CHANGELOG BEGIN part2a-->
                        </th>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ARCHIT CHANGELOG BEGIN part2b-->
            
            <div class="form-popup1 fixed-top" id="myForm">
              <div class="container-fluid" >
                <div class="row">
              <div class="col-md-12">
                <div class="card card-profile">
                  <div class="card-body">
              <form action="./addTest" id="form1" class="form-container1 form-group">
                <h3>Confirm your Details</h3>
              
                <p>Name of Pathology: <span id="add1"></span></p>
                <p>Test Requested: <span id="add2"></span></p>
                <p>Price: <span id="add3"></span></p> 
                <label for="date"><b>Date of Collection</b></label>
                <input name="date" type="date" placeholder="Enter Date" id="a1" required>
            <br>
                <label for="time"><b>Time suitable</b></label>
                <input name="time" type="time" placeholder="Enter Time" id="a2" required>
            <br>
                <input type="button" onclick="f()" value="Confirm Booking" class="btn btn-danger">
                <br>
                <button type="button" class=" btn cancel1" onclick="closeForm1()"><i class="material-icons">clear</i></button>
                
              </form>
              </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            

            <!-- ARCHIT CHANGELOG ENDS part2b-->
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="./dashboard">
                    Home
                  </a>
                </li>
                <li>
                  <a href="./ngo">
                    NGOs
                  </a>
                </li>
                <li>
                  <a href="./pathologies">
                    Pathologies
                  </a>
                </li>
                <li>
                  <a href="./logout">
                    Log Out
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </footer>
      </div>
    </div>
    
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <!-- ARCHIT CHANGELOG BEGIN part3-->
<script>
function openForm1(pathology,testType,price) {
  document.getElementById("myForm").style.display = "block";
  $('#add1').text(pathology);
  $('#add2').text(testType);
  $('#add3').text(price);
}

function closeForm1() {
  document.getElementById("myForm").style.display = "none";
}
</script>
  <!-- ARCHIT CHANGELOG END part3-->
</body>

</html>
