<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BloodConnect</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../assets/home/img/favicon.png" rel="icon">
  <link href="../assets/home/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="../assets/home/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../assets/home/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/home/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../assets/home/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../assets/home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../assets/home/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../assets/home/css/style-red.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">BloodConnect</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/ngo">NGOs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/pathologies">Pathologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(../assets/home/img/350.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">We are BloodConnect</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Order tests,Donate Blood,Request Blood</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <br><br><h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              We primarily provide the following three services.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Order Blood Tests</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Donate Blood</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-camera"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Request Blood</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url(img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">450</p>
              <span class="counter-text">TESTS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">3</p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">550</p>
              <span class="counter-text">TOTAL USERS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">125</p>
              <span class="counter-text">PROUD BLOOD DONORS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Order Blood tests
            </h3>
            <p class="subtitle-a">
              Order tests from leading pathologies at the comfort of your home
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <img src="../assets/home/img/test-quality.jpeg" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Quality</h6>
                </div>
              </div><br>
              <p class="card-description">
                We connect you to leading pathologies across the city which are relaible and trusted by many. 
              </p><br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <img src="../assets/home/img/test-bloodranger.jpeg" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Convenience</h6>
                </div>
              </div>
              <p class="card-description">
                You can order your specific test from the pathology of your choice, comparing price and reliability.
                The pathologies send their "Blood Rangers" to collect the sample from your home.

              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <img src="../assets/home/img/test-report.jpg" alt="" class="img-fluid">
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Online benefits</h6>
                </div>
              </div><br>
              <p class="card-description">
                Easy to view blood test reports online in a hazzle free manner along with complete database of past reports
              </p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->
  <div class="testimonials paralax-mf bg-image" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="container">
			      <div class="row">
			        <div class="col-sm-12">
			          <div class="title-box text-center">
			            <h3 class="title-a">
			              Donate Blood
			            </h3>
			            <p class="subtitle-a" style="color: white">
			              Save lives from the comfort of your home
			            </p>
			            <div class="line-mf"></div>
			          </div>
			        </div>
			      </div>
			      <div class="row">
			        <div class="col-md-4">
			          <div class="card card-blog">
			            <div class="card-img">
			              <img src="../assets/home/img/post-1.jpg" alt="" class="img-fluid">
			            </div>
			            <div class="card-body">
			              <div class="card-category-box">
			                <div class="card-category">
			                  <h6 class="category">NGO of your choice</h6>
			                </div>
			              </div>
			              <p class="card-description">
			                We connect you to leading pathologies across the city which are relaible and trusted by many. <br><br><br>
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="col-md-4">
			          <div class="card card-blog">
			            <div class="card-img">
			              <img src="../assets/home/img/donate-convenience.jpeg" alt="" style="height:220px" class="img-fluid">
			            </div>
			            <div class="card-body">
			              <div class="card-category-box">
			                <div class="card-category">
			                  <h6 class="category">Convenience</h6>
			                </div>
			              </div>
			              <p class="card-description">
			                You can order your specific test from the pathology of your choice, comparing price and reliability.
			                The pathologies send their "Blood Rangers" to collect the sample from your home.

			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="col-md-4">
			          <div class="card card-blog">
			            <div class="card-img">
			             <center> <img src="../assets/home/img/certi.png" alt="" class="img-fluid"> </center>
			            </div>
			            <div class="card-body">
			              <div class="card-category-box">
			                <div class="card-category">
			                  <h6 class="category">Certificate of Appreciation</h6>
			                </div>
			              </div>
			              <p class="card-description">
			                NGOs acknowledge your contribution to saving lives by uploading a certificate of 
			                appreciaton for your donatio which can be viewed online conveniently. <br><br>
			              </p>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
            </div>
            <div class="testimonial-box">
              <div class="col=col-md-12">
              	<img src="../assets/home/img/donate-carousel/000.png" class="img-fluid">
              </div>
            </div>
            <div class="testimonial-box">
              <div class="col=col-md-12">
              	<img src="../assets/home/img/donate-carousel/001.png" class="img-fluid">
              </div>
            </div>
            <div class="testimonial-box">
              <div class="col=col-md-12">
              	<center><img src="../assets/home/img/donate-carousel/002.png" class="img-fluid" style="width:1264px;height:700px;"></center>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="col=col-md-12">
              	<img src="../assets/home/img/donate-carousel/003.png" class="img-fluid">
              </div>
            </div>
            <div class="testimonial-box">
              <div class="col=col-md-12">
              	<center><img src="../assets/home/img/donate-carousel/004.png" class="img-fluid" style="width:800px;height:671px;"></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Request Blood
            </h3>
            <p class="subtitle-a">
              Fulfill your urgent blood requirements
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <center> <img src="../assets/home/img/wide.png" alt="" class="img-fluid"> </center> <br>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Wide support</h6>
                </div>
              </div><br>
              <p class="card-description">
                We forward your emergency request to all the NGOs connected to us, so that your request gets the maximum 
                possible reach.
              </p><br><br>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <center> <img src="../assets/home/img/dead.png" alt="" class="img-fluid"></center> <br>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Deadline</h6>
                </div>
              </div>
              <p class="card-description">
                You have the option of setting the deadline for fulfillment of your request so that 
                the NGOs have the option of acting accordingly, thereby increasing the chances of your 
                request being met within the deadline. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
             <center> <img src="../assets/home/img/deliver.png" alt="" class="img-fluid"> </center> <br><br>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category"> 
                  <h6 class="category">Onsite delivery</h6>
                </div>
              </div><br>
              <p class="card-description">
                The NGO accepting your request delivers the blood at perhaps the hospital you are at or at any 
                other address you specify.
              </p><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Your Message
                    </h5>
                  </div>
                  <div>
                      <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Like our work?<br>Have any queries?<br>Feel free to contact us!<br>
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> IIT Kanpur, Kanpur - 208016, Uttar Pradesh, India</li>
                      <li><span class="ion-ios-telephone"></span> +91-9140925905</li>
                      <li><span class="ion-email"></span> blood-collect@iitk.ac.in </li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><span class="ico-circle"><i class="ion-social-facebook"></i></span></li>
                      <li><span class="ico-circle"><i class="ion-social-instagram"></i></span></li>
                      <li><span class="ico-circle"><i class="ion-social-twitter"></i></span></li>
                      <li><span class="ico-circle"><i class="ion-social-pinterest"></i></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="../assets/home/lib/jquery/jquery.min.js"></script>
  <script src="../assets/home/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../assets/home/lib/popper/popper.min.js"></script>
  <script src="../assets/home/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/home/lib/easing/easing.min.js"></script>
  <script src="../assets/home/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="../assets/home/lib/counterup/jquery.counterup.js"></script>
  <script src="../assets/home/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../assets/home/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../assets/home/lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../assets/home/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../assets/home/js/main.js"></script>

</body>
</html>
